<?xml version='1.0'?>
<model>
  <name>Real Lidarbot</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  
  <author>
    <name>The Noob Inventor</name>
    <email>thenoobinventor@email.com</email>
  </author>
  
  <description>
    ROS2 Foxy, running on Ubuntu server 20.04 on a Raspberry Pi 4, is employed in controlling a physical 2 wheeled drive vehicle. 
    The vehicle is equipped with an RPLIDAR A1 sensor and an Intel RealSense D415 depth camera used for autonomous driving, obstacle avoidance 
    and Simultaneous Localization and Mapping (SLAM) operations. 
  </description>
</model>
